*{
  margin: 0px;
  padding: 0px;
}

.main {
  margin: auto;
  margin-top: var(--main-div-margin-top);
  width: calc(100% - 40px);
  max-width: 1000px;
  overflow-x: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.main>* {
  overflow: auto;
}

table td {
  padding: 5px;
  background-color: #eee;
  text-align: center;
}
table th{
  background-color: #888;
  color:white;
  padding: 5px;
}
table tr.noneBackground td{
  background:none;
}


input {
  font-size: unset;
  margin: 5px;
  padding: 3px;
  border: 1px solid #aaa;
}
select {
  font-size: unset;
  border: 1px solid #ccc;
  margin: 5px;
}

button {
  background-color: cornflowerblue;
  color: white;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  border: none;
  font-size: unset;
  margin-bottom: 2px;
  transition: 0.4s;
  user-select: none;
}
button:hover {
  background-color:rgb(0, 49, 139);
  cursor: pointer;
}
button.confirm {
  background-color: cornflowerblue;
}
button.confirm:hover{
  background-color:rgb(0, 49, 139);
}
button.ok{
  background-color: olivedrab;
}
button.ok:hover{
  background-color: green;
}
button.queryAdjust{
  border: none;
  background: none;
  color:white;
  margin: 0px;
}
button.minor{
  background-color: white;
  border:2px solid #aaa;
  padding: 3px;
  color:#aaa;
}
button.minor:hover{
  color:black;
  border-color: black;
}
button.cancel{
  background-color:plum
}
button.cancel:hover{
  background-color:palevioletred
}
button.danger{
  background-color: red;
}
button.danger:hover{
  background-color: darkred;
}
button.off{
  background-color: #666;
}
button.off:hover{
  background-color: #222;
}

.section{
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.section>h2{
  font-size: 16px;
  color: #666;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin-bottom: 10px;
}

h1 {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #aaa;
  color: #666;
  font-weight: normal;
}


a{
  color:#666;
  text-decoration: none;
}
a:hover{
  color:black;
  text-decoration: underline;
}

:root{
  --top-bar-height:50px;
  --main-div-margin-top:70px;
}